{
  "plugins": [
    ["module-resolver", {
      "alias": {
        "components": "./src/components",
        "pages": "./src/pages",
        "style": "./src/style",
        "static": "./src/static",
        "store": "./src/redux/store",
        "reducers": "./src/redux/reducers",
        "actions": "./src/redux/actions",
        "utils": "./src/utils"
      }
    }],
    "transform-object-rest-spread"
  ]
}